/* Helvetica-esque font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

/* General body styling */
body {
	background-color: rgb(216,216,216);
}

/* Header and header content styling (including logo) */
.header {
	background-color: rgb(62,64,70);
}

.header-content {
	margin-top: 40px;
	margin-bottom: 40px;

	img {
		margin-left:auto;
		margin-right:auto;
		display:block;
	}
}

#logo {
	text-align: center;
}

/* Nav styling */
.nav {
	background-color: rgb(55,57,63);
	font-family: "Arino", sans-serif;
	color: white;
	text-align: center;
	box-shadow:inset 0 8px 10px -10px #000000;
	border-bottom: 1px solid rgb(66,68,74);

	a {
		display:block;
		margin-top:20px;
		margin-bottom:20px;
		color: rgb(206,206,200);
		text-shadow:0px 2px 4px #000000;
	}

	a:hover {
		color: white;
	}
}

/* Banner and banner content styling */
.banner {
	background-color: rgb(62,64,70);
}

.iphone-graphics {
	padding-top: 55px;

	img{
		position:absolute;
		/* Remove extra pixel at bottom of 2nd 
		and 3rd iphone images */
		height:425px;
	}
}

/* Container for image fader */
.iphone-graphics .image-fader {
	height:425px;
}

.description {
	padding-top:160px;
	text-shadow:0px 2px 4px #000000;

	p {
		font-size: 1.125em;
		color:rgb(206,206,200);
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
	}

	h2 {
		color:white;
		font-family: "Open Sans", sans-serif;
		font-weight: 600;
	}

}

/* Features and feature content styling */
.features {
	background-color: white;
	padding-top:75px;
	padding-bottom:80px;
}

.features-content {
	text-align:center;
	font-family: "Open Sans", sans-serif;

	img {
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	h4 {
		color: rgb(62,64,70);
		font-weight: 500;
		font-size: 1.313em;
		margin-bottom: 0;
		margin-top:30px;
	}

	p {
		font-size: 0.813em;
		margin-bottom:0;
		color: rgb(103,104, 113);
	}
}

/* Footer/Contact and contact content styling */
.contact {
	padding-top:80px;
	padding-bottom:60px;
	background-color:rgb(152,176, 72);
}

.contact-content { 

	h2 {
		margin-bottom:0;
		color:white;
		text-shadow:0px 2px 4px #000000;
	}

	input[type="text"] {
		background: rgba(0, 0, 0, 0);
		box-shadow: none;
		outline: none;
		padding:0;
		height: 37px;
		margin-bottom: 4px;
		font-family: "Open Sans", sans-serif;
		font-size: 1.125em;
		font-weight:600;
		color:rgb(126,147,56);
	    border-top:none;
	    border-right:none;
	    border-left:none;
	    border-bottom: 2px solid rgb(126,147,56);
	}


	input[type="submit"]{
		margin-top: 20px;
	}

	textarea {
		height: 160px;
		margin-top: 20px;
		background: rgb(145,168,69);
		box-shadow: none;
		outline: none;
		resize:none;
		border:1px solid rgb(145,168,69);
		border-radius: 10px;
		padding: 20px;
		font-family: "Open Sans", sans-serif;
		font-size: 1.125em;
		font-weight: 600;
		color: rgb(126,147,56);
	}

}

/* Remove unnecessary padding when switched to mobile layout */
@media only screen and (max-width: 767px) {
	.description {
		padding-top:55px;
	}
}